.hidden {
    display: none;
}

footer {
    padding: 10rem 5rem 1rem 5rem;
    h3 {
        font-size: 2.5rem;
        color: var(--gray-02);
    }
    span {
        color: var(--gray-02);
        font-size: 1.9rem;
    }
    .container-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        div {
            width: 30rem;
            ul {
                margin: 5rem 7rem 5rem 0;
                .list-item {
                    margin-bottom: 2rem;
                    .item-link {
                        font-size: 1.9rem;
                        color: var(--gray-02);
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    footer {
        .container-links {
            div {
                ul {
                    margin: 5rem 0 0 0;
                }
            }
        }
    }
}

@media (max-width: 675px) {
    footer {
        padding: 3rem 2rem;
        h3 {
            font-size: 2rem;
            color: var(--gray-02);
        }
        span {
            color: var(--gray-02);
            font-size: 1.6rem;
        }
        .container-links {
            div {
                width: 23rem;
                ul {
                    margin: 3rem 0 3rem 0;
                    .list-item {
                    margin-bottom: 1.8rem;
                        .item-link {
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}