@import "../../../styles.scss";

header {
    padding: 2rem 8rem;
    background: transparent;
    nav {
        position: fixed;
        left: 0;
        width: 100%;

        .navbar-brand {
            margin-right: 5rem;
            padding-left: 8rem 
        }

        .navbar-toggler {
            font-size: 3rem;
            position: relative;
        }

        ul {
            li {
                a {
                    color: $white;
                    margin: 0 1.1rem;
                }
            }
        }

        .show {
            display: block;
        }

        .hidden {
            display: none;
        }
    }
}

@media (max-width: 991px) {
    header {
        nav {
            .navbar-brand {
                padding-left: 1rem;
                
                #logo {
                    width: min(170px, 35vw);
                }
            }
        }
    }
}