<header>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">
            <img id='logo' src="../../../assets/icons/netflix-Logo.svg" alt="">
        </a>

        <button 
            *ngIf="navComplete" 
            class="navbar-toggler" 
            type="button" 
            (click)="showOrHidden()">
            &#9776;
        </button>

        <div 
            *ngIf="navComplete" 
            [ngClass]="isHidden" 
            class="collapse navbar-collapse"
        >
            <ul class="navbar-nav" ngbNav #nav="ngbNav" >
                <li class="nav-item active" *ngFor="let item of tabs">
                    <a class="nav-link" 
                        [routerLink]="'.'" 
                        (click)="menuHidden = true" 
                    >
                        {{ item }}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>