header {
    background: transparent;
    nav {
        position: fixed;
        left: 0;
        width: 100%;
        z-index: 2;
        .navbar-brand {
            margin-right: 5rem;
            padding-left: 5rem 
        }

        ul {
            li {
                a {
                    color: #fff;
                    margin: 0 1.1rem;
                }
            }
        }

        .show {
            display: block;
        }

        .hidden {
            display: none;
        }
    }
}

@media (max-width: 1200px) {
    header {
        nav {
            .navbar-brand {
                padding-left: 1rem;
                
                #logo {
                    width: min(13rem, 35vw);
                }
            }
        }
    }
}

@media (max-width: 990px) {
    .navbar-toggler {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 35px;
        .toggler {
            background: var(--white);
            height: 3px;
            width: 4rem;
            border: none;
            padding: none;
            
        }
    }

    .navbar-nav {

    }
}