<header>
    <div class="container">
        <div class="soon">
            <img src="../../../../assets/images/netflix-logo.svg" alt="logo netflix">
        </div>
        <nav>
            <ul>
                <li>
                    <a href="">Início</a>
                </li>
                <li>
                    <a href="">Séries</a>
                </li>
                <li>
                    <a href="">Filmes</a>
                </li>
                <li>
                    <a href="">Bombando</a>
                </li>
                <li>
                    <a href="">Minha lista</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
