<main class="modal">
  <div class="modal-img">
    <img src="../../../assets/images/movie'sImageMain.svg">
  </div>
<section class="info-wrapper">
  <button class="btn primary">
    Assistir
  </button>
  <div class="movie-card">
    <div class="left-side">
      <div class="movie-info">
        <span>99% relevante</span>
        <span>2021</span>
        <span>12</span>
        <span>1h 57min</span>
      </div>
      <div class="movie-plot">
        Um agente do FBI persegue o ladrão de arte mais procurado do mundo. Ele só não esperava ter seu alvo como parceiro para prender uma bandida muito esperta.
      </div>
    </div>
  </div>
</section>
</main>
