button {
    border: none;
    font-weight: bold;
    position: relative;
    font-size: 2.4rem;
    height: 6rem;
    padding-right: 3rem;
    padding-left: 5rem;
    border-radius: 1rem;
    
    &::before {
        position: absolute;
        content: url("../../../../assets/images/play-icon.svg");
        left: 2rem;
    }

}

button .primary {
    color: #000;
    background-color: #fff;
    &::before {
        content: url("../../../../assets/images/play-icon.svg");
    }
} 