.s-area-carousel {
    margin-bottom: 7rem;
    .container {
        overflow: hidden;
        h4 {
            font-size: 2.4rem;
            margin-bottom: 3.3rem;
        }
        .area-card-film {
            width: 130%;
            display: flex;
            flex-wrap: nowrap;
            overflow: auto;
            gap: 2.5rem;

            .container-card {
                width: 100%;

                .card-film {
                    width: 250px;
                    height: 12rem;
                    border-radius: 0.5rem;
                
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

