<section class="s-area-carousel">
    <div class="container">
        <h4>Populares na Netflix</h4>
        <div class="area-card-film">
            <app-card-carousel></app-card-carousel>
            <app-card-carousel></app-card-carousel>
            <app-card-carousel></app-card-carousel>
            <app-card-carousel></app-card-carousel>
            <app-card-carousel></app-card-carousel>
            <app-card-carousel></app-card-carousel>
            <app-card-carousel></app-card-carousel>
            <app-card-carousel></app-card-carousel>
            <app-card-carousel></app-card-carousel>
            <app-card-carousel></app-card-carousel>
            <app-card-carousel></app-card-carousel>
        </div>
    </div>
</section>