<section class="s-hero">
    <div class="container">
        <div class="content-banner">
            <img src="../../../../assets/images/title-filme.svg" alt="título do filme no banner">
            <div class="rank-film">
                <img src="../../../../assets/images/top-10.svg" alt="top-rank">
                <h3>Brasil: top 2 de hoje</h3>
            </div>
            <p class="description">
                Um agente do FBI persegue o ladrão de arte mais procurado do mundo. Ele só não esperava ter seu alvo como parceiro para prender uma bandida muito esperta.
            </p>
            <div class="area-buttons">
                <app-button></app-button>
            </div>
        </div>
    </div>
</section>