section {
    background: url('../../../../assets/images/film-image.png') no-repeat center center;
    height: 90vh;
    font-size: 100%;
    .container {
        padding-top: 12.3rem;
        .content-banner {
            width: 100%;
            max-width: 70.6rem;
        }
        .rank-film {
            display: flex;
            align-items: center;
            margin-top: 6.8rem;
            h3 {
                font-size: 2.6rem;
                margin-left: 1.3rem;
                margin-bottom: 0;
                font-weight: bold;
            }
        }
        .description {
            margin-top: 2.3rem;
            p {
                font-size: 2.6rem;
                margin: 0;
            }
        }
    }
}