/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

//fonts
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;600;800&family=Open+Sans:wght@400;700&display=swap');

// Variables
:root {
    --red: #E50914;
    --red-hover: #FD000D;
    --black: #000000;
    --gray-01: rgba(255, 255, 255, 0.19);
    --gray-02: rgba(255, 255, 255, 0.57);
    --orange: #F28300;
    --white: #FFFFFF;
}

/* You can add global styles to this file, and also import other style files */
html{
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
    list-style: none;
    font-family: 'Martel Sans', sans-serif;
    font-weight: 400;
}

h1, h2 {
    font-family: 'Martel Sans', sans-serif;
    font-weight: 800;
}

h3, h4, h5 {
    font-family: 'Martel Sans', sans-serif;
    font-weight: 600;
}

body {
    background-color: var(--black)
}

img{
    max-width: 100%;
}

button{
    background-color: transparent;
    cursor: pointer;

ul {
    list-style: none;
    padding: 0;
}

