body {
    color: black;
}

.main {
    height: 100vh;
    background-image: url('../../assets/images/netflix_background.svg');
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem;
    flex-direction: column;
}

.main h1 {
    font-size: 6.4rem;
    max-width: 71rem;
    text-align: center;
}

.main-child {
    z-index: 1;
    display: grid;
    justify-items: center;
}

.main span {
    font-size: 2.6rem;
    margin-bottom: 4rem;
}

.main p {
    font-size: 2.2rem;
    margin-bottom: 6rem;
}

.header {
    position: absolute;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: start;
    top: 2.8rem;
    left: 5.6rem;
}

.login {
    display: inline-block;
    background-color: var(--red);
    color: var(--white);
    align-self: center;
    padding: 1.3rem 5rem;
    text-decoration: none;
    border-radius: .4rem;

    &:hover {
        background-color: var(--red-hover);
    }
}

.gradient {
    background: rgba(0,0,0,0.4);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%
    );
    position: absolute;
    margin: 0, 0, 0, 0;
}

hr {
    background-color: var(--gray-02);
    margin-bottom: 4rem;
}


.content {
    flex-direction: row;
    justify-content: space-between;
}

.section h1 {
    text-align: center;
    color: var(--white);
    font-size: 3.125rem;
}

.section p {
    text-align: center;
    color: var(--white);
    font-size: 1.625rem;
}

.left {
    display: flex;
    align-items: center;
    padding: 5rem;
    justify-content: center;
}

.right {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 5rem;
    justify-content: center;
}


@media (min-width: 484px) and (max-width: 684px) { // Em uma tela de até 1000px de largura, aplique isso...  :D
    .main {
        h1 {
            font-size: 5rem;
        }
        span {
            font-size: 2.2rem;
        }
        p {
            font-size: 1.8rem;
        }
    }
}

@media (max-width: 1000px) {
    .right {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        img {
            width: 100%;
        }
    }

    .left {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        img {
            width: 100%;
        }
    }
}

@media (min-width: 740px) {
    h1 {
        font-size: 2.375rem;
    }
    
    p {
        font-size: 1.687rem;
    }
}

@media (max-width: 483px) {
    .main {
        h1 {
            font-size: 3.5rem;
        }

        span {
            font-size: 1.8rem;
        }

        p {
            font-size: 1.5rem;
        }

        .login {
            padding: .5rem 3rem;
        }
    }
}